<h1>Create Survey Form</h1>

<button class="btn btn-primary" type="button" ng-click="open_creator()"> 
    <span ng-show="reveal_form">[-]</span>
    <span ng-hide="reveal_form">+</span>
    Create Form
</button>

<div class="well" ng-show="reveal_form"> 
    <form class="form-horizontal">
        <fieldset>
            <legend>Form</legend>
            <div class="form-group">
                <label class="col-lg-2 control-label">Form Name:</label> 
                <div class="col-lg-10"><input type="text" class="form-control" ng-model="form_name"/></div>
            </div>

            <div class="form-group"> 
                <div class="col-lg-10">
                    <button class="btn btn-default" ng-click="open_creator()">Cancel</button>
                    <button class="btn btn-primary" type="submit" ng-click="create_form()">Create Form</button>
                </div>
            </div> 
        </fieldset>
    </form>
    <!--
    <button class="btn btn-primary" type="button" ng-click="add_question()"> 
        <span ng-show="reveal_creator">[-]</span>
        <span ng-hide="reveal_creator">+</span>
        Add Question
    </button>
    -->
    {{form_data}}
</div>

<div class="well" ng-show="reveal_creator">
    <form class="form-horizontal">
        <fieldset> 
            <legend>Question</legend>
            <div class="form-group">
                <label class="col-lg-2 control-label">Question Text:</label> 
                <div class="col-lg-10"><input type="text" class="form-control" ng-model="question" required/></div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label">Question Type:</label> 
                <div class="col-lg-10">
                    <select ng-model="question_type" ng-change="select_type()">
                        <option value="default">Choose Question Type</option> 
                        <option value="multi_choice_one">Multiple Choice (Only One Answer)</option> 
                        <option value="multi_choice_multi">Multiple Choice (Multiple Answers)</option> 
                        <option value="rating">Rating Scale</option> 
                        <option value="open_ended">Open ended</option> 
                        <!--<option value="matrix_choice_one">Matrix of Choices (One answer per row)</option>-->
                        <!--<option value="matrix_choice_multi">Matrix of Choices (Multiple answers per row)</option>-->
                        <!--<option value="matrix_choice_drop">Matrix of Dropdown Menus</option>-->
                    </select> 
                </div>
            </div>

            <div class="form-group" ng-show="question_type != 'default'"> 
                <div class="col-lg-10">
                    <span ng-switch on="question_type">
                        <span ng-switch-when="rating"><rating></rating></span>
                        <span ng-switch-when="multi_choice_one">
                            <multi></multi>
                            <button class="btn btn-sm btn-primary" type="button" ng-click="add_choice()">[+] Add Field</button>
                        </span>
                        <span ng-switch-when="multi_choice_multi">
                            <multi></multi>
                            <button class="btn btn-sm btn-primary" type="button" ng-click="add_choice()">[+] Add Field</button>
                        </span>
                    </span>
                </div>
            </div>

            <div class="form-group"> 
                <div class="col-lg-10">
                    <button class="btn btn-default">Cancel</button>
                    <button class="btn btn-primary" type="submit" ng-click="create_question()">Create Question</button>
                </div>
            </div> 
        </fieldset>
    </form>
</div>
<div class="well" ng-show="form_create">
    {{question}}
    {{question_type}}
    {{form.form_fields}}
</div>
