<div class="col-md-4">
    <h3>I am in a box</h3>
    <p ng-repeat="msg in msgs">{{msg}}</p>
</div>

<div class="col-md-4">
    <h3>Nudge box...<span ng-show="ticks" ng-bind="ticks"></span></h3>
    <press-me></press-me>
</div>

<div ng-show="options" class="col-md-4">
    <h3>What are my options?</h3>
</div>

<!--
<div class="col-md-4">
    <div ng-show="buy">
        <auto-clicker></auto-clicker> 
    </div>
</div>

<div class="col-md-4">
    <div ng-repeat="d in autoclicker">{{d.type}}</div>
</div>
-->
