<script>
    //resize viewport

    jQuery(function($) { 
        $('.viewport').height($(document).height() - 160); 
    });

</script>

<div class="row">
    <div class="col-md-8 col-sm-6 col-xs-12">
        <div console-box id="scrollbar1">
            <div class="scrollbar">
                <div class="track">
                    <div class="thumb">
                        <div class="end"></div>
                    </div>
                </div>
            </div>
            <div class="viewport">
                <div class="overview">
                    <p ng-repeat="msg in msgs track by $index"> 
                        <console m="msg"></console>
                    </p>
                </div>
            </div>
        </div>
        <command-line></command-line>
    </div>

    <div class="col-xs-3 col-md-4"> 

        <h3>Status</h3>
        <p>Will: {{parentobj.will}}</p>
        <p>Panic: {{parentobj.panic}}</p>
        <p>Insanity: {{parentobj.insanity}}</p>
        <p>Stamina: {{parentobj.stamina}}</p>
    </div>

    <div class="col-xs-3 col-md-4">
        <h3 ng-if="actions.room != 'area'">{{actions.room}}</h3> 
        <clicker d="actions"></clicker>
    </div>
</div>

<!--
<div class="col-md-4">
    <div ng-show="buy">
        <auto-clicker></auto-clicker> 
    </div>
</div>

<div class="col-md-4">
    <div ng-repeat="d in autoclicker">{{d.type}}</div>
</div>
-->
