<!DOCTYPE html>
<html>
  <head>
    <title>The Trap</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico?v=2" />
    <link href="stylesheets/main.css" rel="stylesheet">
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/scrollbar.css" rel="stylesheet">
    <link href="fancybox/source/jquery.fancybox.css" rel="stylesheet">
    <link rel="stylesheet" href="fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
    <link rel="stylesheet" href="fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />

    <script src="javascripts/jquery-1.10.2.js"></script>
    <script src="javascripts/angular.js"></script>
    <script src="javascripts/jquery.bpopup.min.js"></script>
    <script src="javascripts/underscore.js"></script>
    <script src="javascripts/angular-route.js"></script>
    <script src="javascripts/angular-sanitize.js"></script>
    <script src="javascripts/bootstrap.js"></script>
    <script src="javascripts/bootbox.js"></script>
    <script src="javascripts/jquery.tinyscrollbar.js"></script>
    <script src="javascripts/jquery.highlight.js"></script>
    <script src="javascripts/jquery.mousewheel-3.0.6.pack.js"></script>

    <script type="text/javascript" src="fancybox/source/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
    <script type="text/javascript" src="fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
   
    <script src="javascripts/game/main.js"></script>

    <script src="javascripts/game/controllers/gamectrl.js"></script>
    <script src="javascripts/game/controllers/notectrl.js"></script>

    <script src="javascripts/game/directives/directives.js"></script>
    <script src="javascripts/game/directives/console.js"></script>
    <script src="javascripts/game/directives/commandline.js"></script>
    <script src="javascripts/game/directives/roombutton.js"></script>
    <script src="javascripts/game/directives/angular.compilehtml.js"></script>

    <script src="javascripts/game/services/flashobjects/player.js"></script>
    <script src="javascripts/game/services/flashobjects/area.js"></script>
    <script src="javascripts/game/services/flashobjects/window.js"></script>
    <script src="javascripts/game/services/flashobjects/door.js"></script>
    <script src="javascripts/game/services/flashobjects/desk.js"></script>
    <script src="javascripts/game/services/flashobjects/note.js"></script>
    <script src="javascripts/game/services/flashobjects/ceiling.js"></script>
    <script src="javascripts/game/services/flashobjects/bed.js"></script>
    <script src="javascripts/game/services/flashobjects/closet.js"></script>
    <script src="javascripts/game/services/flashobjects/bathroom.js"></script>

    <script src="javascripts/game/services/events.js"></script>
    <script src="javascripts/game/services/game.js"></script>
    <script src="javascripts/game/services/room.js"></script>

    <style>
        body {
            padding-top: 60px;     
        }
    </style>
  </head>
  <body ng-app="Main">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">The Trap</a>
                </div>
                <!--
                <div id="navbar-main" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#game">Game</a></li>
                    </ul> 
                </div>
                -->
            </div>
        </div>

        <div class="container">
            <ng-view></ng-view>
        </div>
  </body>
</html>
